name: Release

on:
  release:
    types: [published]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact: libnpcs.so
            target-path: target/release/libnpcs.so
          - os: windows-latest
            artifact: npcs.dll
            target-path: target/release/npcs.dll
          - os: macos-latest
            artifact: libnpcs.dylib
            target-path: target/release/libnpcs.dylib
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - run: cargo build --release
      - name: Upload release asset
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh release upload ${{ github.event.release.tag_name }} ${{ matrix.target-path }}
